<section class="main">


            <!-- Your regular content -->

    <aside class="haku">
        <section class="hakualue">
        Search and Sort<br>
        <input
        type="text"
        class="hakukentta"
        placeholder="Type your search.."
        [(ngModel)]="term"
        />
        <button class="hakunapit" (click)="SearchComedy()">Comedy</button>
        <button class="hakunapit" (click)="SearchAction()">Action</button>
        <button class="hakunapit" (click)="getReleaseDatesEka()">1990-2000</button>
        <button class="hakunapit" (click)="getElokuvat()">All</button>
        <button class="hakunapit" (click)="sortB(false)">Newest</button>
        <button class="hakunapit" (click)="sortB(true)">Oldest</button>
        <button class="hakunapit" (click)="sortA(true)">Asc</button>
        <button class="hakunapit" (click)="sortA(false)">Desc</button>





    </section>
    </aside>
   

    <app-loading *ngIf="loading"></app-loading>
    <div *ngIf="!loading">
    <article class="elokuvalista">
    
    <article *ngFor="let movie of elokuvalista | filter:term" class="cardslist" >
 
    <article class="movie-card">
        
        <figure><img src="{{movie.image}}"></figure>  
        <ul>
        <li class="card-title"> {{movie.title}} ({{movie.releaseDate | date : 'yyyy'}})</li>
        <li class="card-text">Genre: {{movie.genre}}</li>
        <li class="card-text">Price: {{movie.price}} € </li>
        <li class="card-text">Rating: {{movie.rating}}</li>
       
        </ul>
    </article>
    </article>
</article>
</div>


</section>